datacenter = "rpi"

# Persist data to a location that will survive a machine reboot.
data_dir = "/var/lib/nomad/"

# Bind to all addresses so that the Nomad agent is available both on loopback
# and externally.
bind_addr = "0.0.0.0"


advertise {
    http = "{{ ansible_default_ipv4.address }}:4646"
    rpc  = "{{ ansible_default_ipv4.address }}:4647"
    serf = "{{ ansible_default_ipv4.address }}:4648"
}
